.company {
	height: 660px;
	background-image: url("../../img/Component3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 1920px;
	margin: 0 auto;
	position: relative;
	max-width: 1920px;
	.container {
		display: flex;

		.company__container {
			margin-top: 160px;

			h2 {
				font-family: "RobotoBold";
				font-weight: 700;
				font-size: 40px;
				line-height: 121.19%;
				color: #2f2b30;
			}

			h1 {
				margin-top: 70px;
				font-family: "RobotoBlack";
				font-size: 20px;
				line-height: 121.19%;
				color: #2f2b30;
			}

			p {
				margin-top: 20px;
				font-family: "RobotoRegular";
				font-size: 16px;
				line-height: 150%;
				color: rgba(47, 43, 48, 0.5);
			}

			button {
				background: none;
				margin-top: 23px;
				font-family: "RobotoMedium";
				font-size: 20px;
				line-height: 121.19%;
				text-decoration-line: underline;
				color: #6ac32e;
				cursor: pointer;
				&:hover {
					font-weight: 900;
				}
			}
		}
	}
}

@media (max-width: 1540px) {
	.company {
		max-width: 1519px;
		.container {
			margin-left: 159px;

			.company__container {
				margin-top: 100px;
			}
			.slider {
				margin-top: 90px;
				margin-left: auto;
				width: 590px;
			}
		}
		height: 585px;
	}
}
@media(max-width: 393px) {
	.company {
		background: white;
		.container {
			display: inline-block;
			.company__container {
				
			margin-top: 50px;
				h2 {
					width: 658px;
					font-family: "RobotoBlack";
					font-weight: 900;
					font-size: 35px;
					line-height: 121.19%;
					text-align: center;
					color: #2f2b30;
				}

				h1 {
					width: 658px;
					margin-top: 20px;
					font-family: "RobotoBlack";
					font-size: 30px;
					line-height: 121.19%;
					font-weight: 900;
					text-align: center;
					color: #2f2b30;
				}

				p {
					width: 658px;
					margin-top: 40px;
					font-family: "RobotoRegular";
					font-size: 30px;
					line-height: 150%;
					text-align: center;
					color: rgba(47, 43, 48, 0.5);
				}

				button {
					background: none;
					width: 658px;
					margin-left: 0px;
					margin-top: 25px;
					font-family: "RobotoMedium";
					font-size: 30px;
					line-height: 121.19%;
					text-decoration-line: underline;
					color: #6ac32e;
					cursor: pointer;
					&:hover {
						font-weight: 900;
					}
				}
			}
			.slider {
				margin-top: 25px;
				width: 336px;
			}
		}
		height: 916px;
	}
}
