.footer {
	background-image: url("../../img/footer.jpg");
	height: 330px;
	background-repeat: no-repeat;
	background-size: cover;

	max-width: 1920px;

	.footer__container {
		display: flex;
		padding-top: 31px;
	}

	&__info {
		margin-left: 134px;
	}

	.foot {
		margin-top: 10px;
		display: flex;
		font-family: "RobotoBold";
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 143.69%;
		color: #ffffff;
	}

	.foot-li {
		margin-top: 10px;

		li {
			font-family: "RobotoRegular";
			font-style: normal;
			font-weight: normal;
			color: #a0a0a0;
			cursor: pointer;
		}

		li:hover {
			color: #ffffff;
		}
	}

	&__menu {
		margin-left: 205px;

		li {
			font-size: 18px;
			line-height: 145.69%;
		}
	}

	&__url {
		margin-left: 194px;

		li {
			font-size: 18px;
			line-height: 178.69%;
		}
	}

	&__social {
		margin-top: 42px;
		width: 1900px;
		height: 0px;
		border: 2px solid rgba(255, 255, 255, 0.16);

		&-btn {
			margin-top: 35px;
			text-align: center;
			cursor: pointer;
			span:not(:last-child) {
				margin-right: 33px;
			}
		}
	}

	&__name {
		margin-left: 259px;
		width: 1400px;
		margin-top: 13px;

		h1 {
			text-align: right;
			font-family: "RobotoRegular";
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 178.69%;
			color: #a0a0a0;
		}
	}
}

@media (max-width: 1540px) {
	footer {
		max-width: 1519px;
		height: 300px;
	}

	.footer__name {
		margin-left: 159px;
		width: 1210px;
		margin-top: 13px;
	}
	.footer__social {
		width: 1519px;
	}
	.foot {
		margin-top: 10px;
		display: flex;
		font-family: "RobotoBold";
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		line-height: 143.69%;
		color: #ffffff;
	}

	.footer__menu {
		margin-left: 163px;
		li {
			font-size: 16px;
			line-height: 145.69%;
		}
	}

	.footer__url {
		margin-left: 158px;
		li {
			font-size: 16px;
			line-height: 178.69%;
		}
	}
	.footer__info {
		margin-left: 100px;
	}
}

@media screen and (max-device-width: 393px) {
	.footer {
		background-image: url("../../img/small/footer.png");
		max-width: 100%;
		max-height: 100%;
		height: 330px;
		width: 393px;
		background-repeat: no-repeat;
		background-size: cover;

		.footer__container {
			display: inline-block;
			padding-top: 31px;
		}

		&__info {
			display: none;
			margin-left: 0px;
		}

		.foot {
			margin-top: 10px;
			display: flex;
			font-family: "RobotoBold";
			font-style: normal;
			font-weight: bold;
			font-size: 18px;
			line-height: 143.69%;
			color: #ffffff;
		}
		.fl {
			margin-left: 150px;
			width: 200px;
			margin-top: -115px;
		}
		.foot-li {
			padding-top: 10px;
			margin-right: -10px;
			li {
				text-align: left;
				font-family: "RobotoRegular";
				font-style: normal;
				font-weight: normal;
				color: #a0a0a0;
				cursor: pointer;
			}

			li:hover {
				color: #ffffff;
			}
		}

		&__menu {
			margin-left: 0px;
			li {
				font-size: 14px;
				line-height: 145.69%;
			}
		}

		&__url {
			margin-left: 194px;
			li {
				font-size: 14px;
				line-height: 178.69%;
			}
		}

		&__social {
			margin-left: 60px;
			margin-top: -232px;
			width: 393px;
			height: 0px;
			border: none;

			&-btn {
				margin-top: 35px;
				text-align: center;
				cursor: pointer;
				span:not(:last-child) {
					margin-right: 20px;
				}
			}
		}

		&__name {
			margin-left: -80px;
			width: 393px;
			margin-top: 200px;

			h1 {
				text-align: right;
				font-family: "RobotoRegular";
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 178.69%;
				color: #a0a0a0;
			}
		}
	}
}
